@bg: #161616;
@yellow: #D1B125;
@red: #D91E01;

@import './cube.less';

@font-face {
  font-family: 'Fell';
  src: url('../static/font/fell.otf');
}

@font-face {
  font-family: 'Fell Italic';
  src: url('../static/font/fell_it.otf');
}

@font-face {
  font-family: 'Fell SC';
  src: url('../static/font/fell_sc.ttf');
}

body {
  background-color: @bg;
  color: @yellow;
  margin: 0;
}

.container {
  border: 1px solid black;
  width: 800px;
  height: 480px;
  text-align: center;

  img.logo {
    height: 180px;
    margin-top: -10px;
  }

  .pretitle {
    margin-top: 40px;
    font-family: 'Fell';
    font-size: 50px;
    margin-left: -300px;
  }

  .title {
    margin-top: 40px;
    font-family: 'Fell';
    font-size: 70px;
  }

  .subtitle {
    font-family: 'Fell Italic';
    font-size: 55px;
    margin-left: 120px;
    margin-top: -20px;
  }

  .cta {
    font-family: 'Fell SC';
    font-size: 70px;
    color: @red;
    margin-top: 30px;
  }

  .pulsate {
    animation: pulsate 2s ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.5;
  }

  @-webkit-keyframes pulsate {
    0% {
      opacity: 0.85;
      transform: scale(1);
    }
    50% {
      opacity: 1.0;
      transform: scale(1.15);
    }
    100% {
      opacity: 0.85;
      transform: scale(1);
    }
  }
}

.scan-title {
  font-family: 'Fell Italic';
  font-size: 50px;
  margin-top: 30px;
}

.scan-cta {
  font-family: 'Fell SC';
  font-size: 54px;
  color: @red;
  margin-bottom: 15px;
}

.scan-help {
  font-family: 'Fell';
  font-size: 20px;
  max-width: 472px;
  margin: 0 auto;
  margin-top: 10px;
}

.scan-card-container {
  width: 610px;
  height: 245px;
  background: #323232;
  border-radius: 8px;
  margin: 0 auto;
  padding-top: 10px;

 > img {
  margin: 10px;
 }
}

.create-title {
  white-space: pre;
  font-family: 'Fell';
  font-size: 30px;
  padding-top: 52px;
}

.create-title span {
  font-style: italic;
}

.create-button {
  background: @yellow;
  border-radius: 8px;
  max-width: 530px;
  margin: auto;
  margin-top: 29px;
  overflow: auto;
  box-shadow: 0 6px 8px 0 #000;
  cursor: pointer;
}

.create-button > img {
  max-height: 61px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  float: left;
}

.create-button > div {
  color: black;
  font-size: 48px;
  font-family: 'Fell SC';
  margin-top: 34px;
}

.create-random-button {
  border-radius: 8px;
  border-style: solid;
  border-color: @yellow;
  max-width: 341px;
  margin: auto;
  margin-top: 30px;
  background-color: @bg;
  box-shadow: 0 6px 8px 0 black;
  cursor: pointer;

}

.create-random-button > img {
  padding-top: 15px;
  padding-bottom: 22px;
  padding-left: 22px;
  float: left;
}

.create-random-button > div {
  color: @yellow;
  font-size: 48px;
  margin-top: 0;
  font-family: 'Fell SC';
}

.race-title {
  color: @yellow;
  font-size: 72px;
  margin-top: 27px;
  font-family:'Fell SC';
}

.race-block {
  background: #3B3B3B;
  border-radius: 24px;
  border-style: solid;
  border-color: @yellow;
  width: 229px;
  margin-right: 15px;
  margin-top: 18px;
  float: left;
  box-shadow: 0 6px 8px 0 black;
  cursor: pointer;
}

.race-block > div {
  font-family: 'Fell';
  font-size: 36.8px;
}

.race-block > img {
  margin-top: 10px;
}

.race-container {
  margin-left: 30px;
}
