@import './Base.less';

.create-title {
  white-space: pre;
  font-size: 30px;
  padding-top: 52px;
}

.create-title span {
  font-style: italic;
}

.create-button {
  .button;
  display: block;
  max-width: 530px;
  height: 90px;
  padding-top: 30px;
  margin-top: 35px;
}

.create-button > img {
  float: left;
  max-height: 61px;
  padding-left: 30px;
}

.create-button > div {
  font-size: 48px;
}

.create-random-button {
  .button-secondary;
  display: block;
  max-width: 341px;
}

.create-random-button > img {
  padding-top: 15px;
  padding-bottom: 22px;
  padding-left: 22px;
  float: left;
}

.create-random-button > div {
  font-size: 48px;
  margin-top: 0;
}
