@import './Base.less';

@spinner-size: 100px;

body {
  background-color: @bg;
  color: @yellow;
  margin: 0;
  font-family: 'Fell';
  overflow: hidden;
  user-select: none;
}

.screen {
  border: 1px solid black;
  width: @app-width;
  height: @app-height;
  text-align: center;
}

.screen-loading {
  position: absolute;
  top: (@app-height - @spinner-size) / 2;
  left: (@app-width - @spinner-size) / 2;
  > .spinner {
    width: @spinner-size;
    height: @spinner-size;
  }

  .circle::before {
    background-color: @yellow;
  }
}
