@import './Base.less';

.review-card {
  .card;
  width: 440px;
  height: 225px;
  text-align: left;
  position: relative;
  margin-bottom: 37px;
  margin-left: 35px;
  margin-top: 20px;
}

.review-card-title {
  color: @yellow;
  font-size: 42px;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 18px;
}

.review-card-stat-label-container {
  color: @yellow;
  font-size: 28px;
  font-family: 'Fell SC';
  text-align: right;
  position: absolute;
  left: 35px;
}

.review-card-stat-value-container {
  color: @yellow;
  font-size: 28px;
  font-family: 'Fell SC';
  position: absolute;
  left: 180px;
}

.review-card-avatar {
  position: absolute;
  right: 28px;
  top: 35px;
  text-align: center;
}

.review-card-avatar > img {
  height: 130px;
}

.review-card-avatar > div {
  font-size: 26px;
}

.review-player-no {
  margin-top: 33px;
  margin-right: 37px;
}

.review-player-no-label {
  font-size: 36px;
}

.review-player-no-help {
  font-size: 28px;
  margin-top: 15px;
  color: @red;
}

.review-url {
  color: @yellow;
  font-size: 50px;
}
