@import './Base.less';

.review-container {
  position: relative;

  .character-card {
    float: right;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .player-number {
    margin-top: 30px;
  }

  .player-number-label {
    font-size: 36px;
    margin-left: 20px;
  }

  .player-number-help {
    font-size: 28px;
    margin-top: 15px;
    color: @red;
    max-width: 268px;
    margin-left: 28px;
  }

  .url {
    color: @yellow;
    font-size: 40px;
    text-align: left;
    margin-left: 60px;
  }

  .finish-button {
    .button;
    width: 212px;
    height: 70px;
    position: absolute;
    right: 35px;
    bottom: -10px;
    font-size: 38px;
  }

  .finish-button > img {
    float: left;
    height: 30px;
    margin-left: 25px;
    margin-top: 20px;
  }

  .finish-button > div {
    margin-top: 13px;
  }
}
