@import './Base.less';

.scan-title {
  font-family: 'Fell Italic';
  font-size: 50px;
  margin-top: 30px;
}

.scan-cta {
  font-family: 'Fell SC';
  font-size: 54px;
  color: @red;
  margin-bottom: 15px;
}

.scan-help {
  font-size: 20px;
  max-width: 472px;
  margin: 0 auto;
  margin-top: 10px;
}

.scan-card-container {
  width: 610px;
  height: 245px;
  background: #323232;
  border-radius: 8px;
  margin: 0 auto;
  padding-top: 10px;

 > img {
  margin: 10px;
 }
}

// ( ͡° ͜ʖ ͡°)
input {
  height: 0;
  width: 0;
  border: 0;
  outline: none;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: 16px;
}
