@import './Base.less';

.scan-container {

  .header {
    font-family: 'Fell Italic';
    font-size: 50px;
    margin-top: 30px;
  }

  .cta {
    font-size: 54px;
    margin-bottom: 15px;
  }

  .id-card-container {

    width: 610px;
    height: 245px;
    background: @bg-panel;
    border-radius: 8px;
    margin: 0 auto;
    padding-top: 10px;

     > img {
      margin: 10px;
     }

     .id-card-help {
       font-size: 20px;
       max-width: 472px;
       margin: 0 auto;
       margin-top: 10px;
     }

  }

}
