@import './Base.less';

img.logo {
  height: 180px;
  margin-top: -10px;
}

.pretitle {
  margin-top: 40px;
  font-size: 50px;
  margin-left: -300px;
}

.subtitle {
  font-family: 'Fell Italic';
  font-size: 55px;
  margin-left: 120px;
  margin-top: -20px;
}

.splash-title {
  .title;
  margin-top: 20px;
  font-size: 70px;
}
